<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <!-- タスク一覧 -->
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">タスク一覧</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item *ngFor="let t of tasks; let i = index" [button]="true" (click)="showTask(i)">
      <ion-label>{{t.name}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-card>
    <ion-card-title class="ion-padding" style="margin-top: 50;">新しいタスクを追加</ion-card-title>
    <!-- タスク入力フォーム -->
    <form class="ion-padding" (submit)="addTask()" #f="ngForm" clear-on-edit="true">
      <ion-item lines="full" class="ion-padding-bottom">
        <ion-label postion="floating">タスク名<ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="text" [(ngModel)]="name" name="name" required></ion-input>
      </ion-item>
      <ion-item lines="full" class="ion-padding-bottom">
        <ion-label postion="floating">タスク内容<ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="text" [(ngModel)]="content" name="content" required></ion-input>
      </ion-item>
      <ion-button type="submit" expand="block" [disabled]="!f.form.valid">タスクを追加</ion-button>
    </form>
  </ion-card>
 
</ion-content>
