<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ホーム
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-img width="80" height="80" [src]="imgUrl" style="margin-right: 0;"></ion-img>
      </ion-col>
      <ion-col size="8">
        <ion-card class="ion-padding" style="margin-top:50px; margin-left:0;" >
          <ion-list>
            <ion-item *ngFor="let t of tasks;">
              <ion-label>{{t.name}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  
</ion-content>
